@model IEnumerable<DoAnNhanh.Models.KhuyenMai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Khuyễn Mãi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKm)%
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKm }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKm }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKm })
        </td>
    </tr>
}

</table>
