@model IEnumerable<DoAnNhanh.Models.CT_HD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.Tk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonAn.TenMa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.Tk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonAn.TenMa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
